                        <li class="{{ include.class }}">
                            <div class="timeline-image">
                                <a target="_blank" href="{{ include.link }}"><img class="rounded-circle img-fluid" src="{{ include.src }}" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ include.title }}</h4>
                                    <h6 class="subheading">{{ include.timeline }}&nbsp;&nbsp;
                                    <a class="github" href="{{ include.repo }}" target="_blank">Github</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ include.content }}</p>
                                </div>
                            </div>
                        </li>