                        <li class="{{ include.class }}">
                            <div class="timeline-image">
                                <a target="_blank" href="{{ include.link }}"><img class="rounded-circle img-fluid" src="{{ include.src }}" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ include.title }}</h4>
                                    <h6 class="subheading">{{ include.timeline }}&nbsp;&nbsp;
                                    {% if include.repo %}
                                    {% assign github= "https://github.com/keer25/" | append: include.repo %}
                                    <a class="github" href="{{ github }}" target="_blank">Github</a>
                                    {% endif %}
                                    &nbsp;&nbsp;
                                    {% if include.link %}
                                    <a class="github" href="{{ include.link }}" target="_blank">Link</a>
                                    {% endif %}
                                    </h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ include.content }}</p>
                                </div>
                            </div>
                        </li>