---
layout: default
---

<div class="home">
<div class="container">
<div class="banner row">
<div class="card col-md-6 col-sm-12 col-centered">
  <div class="card-block">
    <h4 class="card-title">Keerthana S</h4>
    <h6 class="card-subtitle mb-2 text-muted">IIT Madras</h6>
    <p class="card-text">I have never been able to write a description about myself.</p>
  <a class="btn btn-primary" target="_blank" href="https://github.com/keer25">Github</a>
  <a class="btn btn-primary" target="_blank" href="https://developerbytes.wordpress.com/">Blog</a>
  <a class="btn btn-primary" href="#projects">
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
    Projects
  </a>
  </div>
</div>
</div>
</div>
<!-- About -->
<div class="card">
  <div class="card-block">
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                       {% assign sorted = (site.projects | sort: 'order') | reverse %}
                       {% assign count = 0 %}
                        {% for project in sorted %}
                          {% assign i = count | modulo:2 %}
                          {% assign github= "https://github.com/keer25/" | append: project.repo %}
                          {% if i == 0 %}
                            {% include project.html title=project.title timeline=project.timeline content=project.content src=project.src class="timeline" link=project.link repo=github %}
                          {% else %}
                            {% include project.html title=project.title timeline=project.timeline content=project.content src=project.src class="timeline-inverted" link=project.link repo=github %}
                          {% endif %}
                          {% assign count = count | plus: 1 %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
  </div>
</div>

</div>
