---
layout: default
---

<div class="home">
<div class="banner row col-md-12 col-sm-12">
<div class="col-md-6 col-sm-12">
<h2>Keerthana S</h2>
<h5>IIT Madras</h5>
</div>
<div class="col-md-6 col-sm-12 buttons">
  <a class="btn btn-primary" href="https://github.com/keer25">Github</a>
  <a class="btn btn-primary" href="https://developerbytes.wordpress.com/">Blog</a>
  <a class="btn btn-primary" href="#projects">
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
    Projects
  </a>
</div>
</div>
<div id="projects">
<h2>My Projects</h2>
</div>
</div>
